#EngageOne-Video-vidbill-wrapper {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    max-width: calc(177.778vh - 54px);
}
#EngageOne-Video-vidbill-wrapper.no-timeline {
    max-width: calc(177.778vh);
}
#EngageOne-Video-vidbill-container {
    position: relative;
    width: 100%;
    height: 0px;
    padding: 56.25% 0px 30px 0px;
}
.no-timeline #EngageOne-Video-vidbill-container {
    padding: 56.25% 0px 0px 0px;
}
#EngageOne-Video-vidbill-container iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: none;
}
/* This is the theoretical breakpoint as to which the video is no longer adjacent to other elements of the page. */
@media screen and (max-width: 640px) {
    #EngageOne-Video-vidbill-wrapper {
	max-width: calc(177.778vh - 54px);
	/*177.778vh is the aspect ratio 16/9: 100vh * (16/9). 54px is the height of the control bar
	(+ any extra required from the browser). */
    }
}
